body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}

h1 > span {
    font-weight: bold;
}

h3 {
    font-family: 'Lora', serif;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}

h5 {
    font-size: 20px;
    margin: 10px 15px 0px 15px;
}

.top-content {
    background-color: #f3f4f6;
}

.landing, .instructors, .subscribe-container, .bottom-content {
    width: 1150px;
    margin: 0 auto;
}

.landing > h1 {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
    padding-bottom: 30px;
}

.landing > p {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 20px;
    color: #8b8b8b;
}

.logo {
    height: 40px;
}

.red-text {
    color: #de3f1c;
}

.form-group {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.btn-submit-email {
    display: inline-block;
    z-index: 1;
    padding: 9px 18px;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    background-color: #00b050;
    color: #fff;
    font-weight: 650;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.btn-submit-email:hover {
    cursor: pointer;
    background-color: #007e39;
}

.btn-submit-email:active, .btn-submit-email:focus {
    transition: 0.2s ease-in;
    box-shadow: 0px 0px 0px 4px #b4b4b4;
}

.box-3  {
    display: flex;
    margin: 60px 0px;
    padding: 15px;
}

.card-13 {
    display: inline-block;
    text-align: center;
    padding: 20px;
    width: calc(100%/3);
}

.card-13 > h3 {
    font-size: 22px;
}

.card-13 > p {
    font-size: 17px;
    line-height: 1.5;
    color: #8b8b8b;
}

.icon-s {
    width: 85px;
    height: 85px;
}

.instructors > a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 24px;
}

.box-2 > .card-row-12 {
    display: grid;
    grid-template-columns: 120px 5px 405px 20px 120px 5px 395px;
    grid-template-rows: 220px;
    grid-auto-flow: row;
    padding-bottom: 10px;
    gap: 15px;
}

.card-row-12 img {
    width: 120px;
    margin-top: 10px;
    border-radius: 60px;
}

.photo-profile {
    position: relative;
    top: 5%;
}

h4.full-name {
    font-size: 24px;
    font-weight: lighter;
    margin: 8px 0;
}

p.self-description {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    color: #8b8b8b;
}

.subscribe {
    display: flexbox;
    width: calc(100%/2);
    background-color: #f3f4f6;
    padding: 25px 15px 15px 15px;
    margin: 20px auto;
    border-radius: 8px;
}

.subscribe input {
    width: calc(100% * 2 / 3);
    height: 35px;
}

.subscribe > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 15px;
    color: #8b8b8b;
}

.bottom-content > footer {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 8px;
    height: 60px;
}

footer p, footer nav a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

input {
    display: inline-block;
    position: relative;
    left: 0px;
    z-index: 0;
    width: calc(100% / 2.5);
    padding: 9px 18px;
    font-size: 16px;
    height: 40px;
    border: none;
    border-bottom: 2px rgba(204, 204, 204, 0.75) solid;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 1.5px 1.5px 0px 0px #ccc inset;
}

input:focus {
    outline-color: #159fea;
}

ul {
    list-style: none;
    padding: 10px;
}

li {
    display: inline;
    font-size: 18px;
    margin: 0 0px;
}

li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #949494;
}

.bottom-stripes {
    background-color: #de3f1c;
}


@media only screen and (max-width: 1280px) {
    .landing, .instructors, .subscribe-container, .bottom-content {
        width: 100%;
        margin: 0 auto;
    }

    .landing > header {
        padding: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .landing > h1 {
        font-family: 'Lora', serif;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        padding: 0 50px;
    }

    .landing > p {
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        padding: 0 60px;
        color: #8b8b8b;
    }

    .card-13 {
        display: inline-block;
        text-align: center;
        padding: 20px;
        width: calc(100%/2);
    }

    .box-3 {
        width: auto;
        margin: 0px 40px;
        padding: 0px;
        /* align-items: center; */
    }

    .box-2, .instructors {
        width: 850px;
        margin: 0 auto;
    }

    .box-2 > .card-row-12 {
        display: grid;
        grid-template-columns: 120px 0px 250px 20px;
        grid-template-rows: auto;
        grid-auto-flow: column;
        padding-bottom: 20px;
        gap: 15px;
    }

    .subscribe {
        display: flexbox;
        width: calc(100%/2);
        background-color: #f3f4f6;
        padding: 25px 15px 15px 15px;
        margin: 20px auto;
        border-radius: 8px;
    }
    
    .subscribe input {
        width: calc(100% / 2);
        height: 20px;
    }

    .subscribe > h5 {
        margin: 10px 8%;
    }
    
    .subscribe > p{
        width: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin: 20px 8%;
        color: #8b8b8b;
    }
    
}

@media only screen and (max-width: 1024px) {
    .landing > header {
        margin: 0 40px;
    }

    .box-2, .instructors {
        width: 560px;
        margin: 0 auto;
    }

    .box-2 > .card-row-12 {
        display: grid;
        grid-template-columns: 120px 0px 420px 0px;
        grid-template-rows: auto;
        grid-auto-flow: row;
        padding-bottom: 20px;
        gap: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .landing > header {
        margin: 0 30px;
    }

    .box-3 {
        width: auto;
        flex-flow: column;
        margin: 0px 0px;
        padding: 0px;
        align-items: center;
    }

    .card-13 {
        display: inline-block;
        text-align: center;
        padding: 20px;
        width: calc(100%/1.33);
    }

    .box-2, .instructors {
        width: 420px;
        margin: 0 auto;
    }

    .box-2 > .card-row-12 {
        display: grid;
        grid-template-columns: 420px 0px;
        grid-template-rows: auto;
        grid-auto-flow: row;
        padding-bottom: 20px;
        gap: 15px;
    }

    .btn-submit-email {
        display: inline-block;
        z-index: 1;
        padding: 9px 9px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle;
        background-color: #00b050;
        color: #fff;
        font-weight: 650;
        border: none;
        border-radius: 0px 5px 5px 0px;
    }
}

@media only screen and (max-width: 610px) {
    .landing, .instructors, .subscribe-container, .bottom-content {
        width: 100%;
        margin: 0 auto;
    }

    .landing > header {
        padding: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .logo {
        height: 50px;
        padding-top: 10px;
    }

    .landing > h1 {
        font-family: 'Lora', serif;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        padding: 0 30px;
    }

    .landing > p {
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
        padding: 0 30px;
        color: #8b8b8b;
    }

    input {
        display: inline-block;
        position: relative;
        left: 0px;
        z-index: 0;
        width: calc(100% / 2.5);
        padding: 9px 18px;
        font-size: 14px;
        height: 25px;
        border: none;
        border-bottom: 2px rgba(204, 204, 204, 0.75) solid;
        border-radius: 5px 0px 0px 5px;
        box-shadow: 1.5px 1.5px 0px 0px #ccc inset;
    }

    .btn-submit-email {
        display: inline-block;
        z-index: 1;
        padding: 9px 9px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle;
        background-color: #00b050;
        color: #fff;
        font-weight: 650;
        border: none;
        border-radius: 0px 5px 5px 0px;
    }

    .box-2, .instructors {
        width: 300px;
        margin: 0 auto;
    }

    .box-2 > .card-row-12 {
        display: grid;
        grid-template-columns: 300px 0px;
        grid-template-rows: auto;
        grid-auto-flow: row;
        padding-bottom: 20px;
        gap: 15px;
    }

    .subscribe {
        width: calc(100%);
        background-color: #f3f4f6;
        padding: 20px 0;
        margin: 20px auto;
    }
    
    .subscribe input {
        width: calc(100% / 2.5);
        height: 20px;
    }

    .subscribe > h5 {
        margin: 10px 8%;
    }
    
    .subscribe > p{
        width: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin: 20px 8%;
        color: #8b8b8b;
    }

    .bottom-content > footer {
        margin: 0 20px;
    }

    footer li {
        padding: 0px;
    }

    ul, li {
        padding: 10px;
    }

    li a {
        text-align: center;
        padding: 1px 3px;
        text-decoration: none;
        color: #949494;
    }
}